<ion-view view-title="Artists">
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar" ng-repeat="artist in artists | orderBy: ['+name', '+id'] track by artist.id" type="item-text-wrap" href="#/artists/{{ artist.id }}">
        <img ng-src="{{ artist.picture }}">
        <h2>{{ artist.name }}</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>