<ion-view>
  <ion-nav-title>{{ artist.name }}</ion-nav-title>
  <ion-content padding="true">
    <div class="row">
      <div class="col">
        <img ng-src="{{ artist.picture }}" style="float:left" class="col-50 padding-right padding-bottom picture-holder">
        <p>{{ artist.description }}</p>
        <strong>Genres:</strong>
        <ul>
          <li ng-repeat="genre in artist.genres">{{ genre }}</li>
        </ul>
      </div>
    </div>

    <ion-list ng-if="artist.albums.length > 0">
      <div class="item item-divider">
        <strong class="title">Albums</strong>
      </div>
      <ion-item class="item-avatar" ng-repeat="album in artist.albums | orderBy:'+title'" type="item-text-wrap">
        <img ng-src="{{ album.picture }}">
        <h2>{{ album.title }}</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>